@model HighSchoolMarathon.WebApp.Models.EventModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>EventModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="EventName" class="control-label"></label>
                <input asp-for="EventName" class="form-control" />
                <span asp-validation-for="EventName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RegistrationStartDate" class="control-label"></label>
                <input asp-for="RegistrationStartDate" class="form-control" />
                <span asp-validation-for="RegistrationStartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RegistrationEndDate" class="control-label"></label>
                <input asp-for="RegistrationEndDate" class="form-control" />
                <span asp-validation-for="RegistrationEndDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EventStartTime" class="control-label"></label>
                <input asp-for="EventStartTime" class="form-control" />
                <span asp-validation-for="EventStartTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Location" class="control-label"></label>
                <input asp-for="Location" class="form-control" />
                <span asp-validation-for="Location" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RouteDescription" class="control-label"></label>
                <input asp-for="RouteDescription" class="form-control" />
                <span asp-validation-for="RouteDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <input asp-for="Status" class="form-control" />
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-secondary">Cancel</a>
            </div>
        </form>
    </div>
</div>

